* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #1a1a1a; /* Dark background color */
}

.login, .register {
  width: 400px;
  background-color: #2b2b2b; /* Darker background color */
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px; /* Rounded edges */
  margin: auto;
}

.header {
  text-align: center;
  color: #ffffff; /* White text color */
  font-size: 24px;
  padding: 20px 0 20px 0;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.label {
  position: relative;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #3274d6; /* Blue icon background color */
  color: #ffffff; /* White icon color */
  border-radius: 50%; /* Make the label circular */
}

.inputInfo {
  width: 310px;
  height: 50px;
  border: 1px solid #424242; /* Darker border color */
  margin-bottom: 20px;
  padding: 0 15px;
  background-color: #2b2b2b; /* Darker background color */
  color: #ffffff; /* White text color */
  border-radius: 5px; /* Rounded edges for the input fields */
}

.submit {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #3274d6; /* Blue button background color */
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff; /* White text color */
  transition: background-color 0.2s;
  border-radius: 5px; /* Rounded edges */
}

form input[type="submit"]:hover,
button:hover {
  background-color: #2868c7; /* Darker blue button background color on hover */
  transition: background-color 0.2s;
}