.finances {
  display: inline-block;
  width: 75%;
}

.bank-accounts-header {
  position: absolute;
  text-align: center;
  top: 0;
  width: 75%;
}

.bank-accounts-total {
  font-size: 12.5px;
}

.bank-accounts-list {
  position: absolute;
  top: 35px;
  width: 75%;
}

.bank-account {
  font-size: 14px;
}

.hideView {
  position: relative;
  float: right;
  top: 10px;
}

.btc-title, .bank-accounts-total-title {
  font-weight: 700;
}

.btc-sign {
  position: relative;
  top: 1.5px;
}

.btc-total {
  display: inline-block;
  font-size: 12.5px;
}

.btc-wallet {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 100%;
  z-index: 2;
  text-align: center;
  background: black;
  border-left: 1px solid;
}

.btc-dropdown, .btc-amount {
  width: 80%;
  height: 25px;
  margin: 5px 5px 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #2a2a2a;
  resize: none;
  text-align: center;
  color: azure;
}

.btc-amount {
  overflow: hidden;
}

.btc-submit {
  width: 80%;
  margin: 0px 5px;
  color: azure;
  background-color: #0275d8;
  border-color: #0275d8;
  border-radius: 4px;
}