.log-list {
  display: flex;
  font-size: small;
}

.log-title {
  text-align: center;
  font-weight: bold;
}

.log-item {
  flex: 1;
}

.delete {
  float: right;
  padding: 4px;
}

.local,
.remote {
  background: #000B26;
  padding: 10px;
}

.local {
  box-shadow: 0px 0px 15px #002F6F inset;
  color: #5bc0de;
}

.remote {
  box-shadow: 0px 0px 15px #6F4D00 inset;
  color: #f0ad4e;
}