.notify-container {
  overflow-wrap: break-word;
  position: fixed;
  z-index: 100;
  float: right;
  right: 2px;
  bottom: 0;
}

.notif-close {
  position: relative;
  float: right;
  top: 8px;
}

.red {
  color: red;
}

.btc {
  color: green;
}

.notif {
  background: black;
  border: 1.5px solid;
  width: 250px;
}

.notif-header {
  border-bottom: 1.5px solid;
  padding: 4px 5px;
  height: 25px;
}

.notif-title {
  font-size: 10.5px;
  font-weight: 700;
  color: azure;
  float: left;
}

.notif-text {
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  min-height: 100px;
  color: azure;
}