.terminal {
  background-color: black;
  color: darkorange;
  font-family: 'Courier New', monospace;
  font-size: small;
  height: 100%;
  padding: 0 0 0 5px;
}

.terminal-content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
}

td {
  text-align: center;
}

.prompt {
  display: inline-block;
  margin-right: 5px;
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-family: 'Courier New', monospace;
}
