.window {
  position: absolute;
  background: black;
  border: 1px solid darkorange;
  min-height: 100px;
  min-width: 200px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: black;
  border-bottom: 1.5px solid darkorange;
  color: darkorange;
}

.title {
  font-size: 15px;
  padding-left: 5px;
  font-weight:500
}

.buttons-container {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-right: 5px;
}

.minimize {
  position: relative;
  top: -25%;
}

.content {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: calc(100% - 30px);
  color: darkorange;
  cursor: default;
}

.resize {
  position: absolute;
  z-index: 100;
  width: 15px;
  height: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}